/src/target/*
/.settings
.classpath
.project

/testdb.db
mem
**/secure-credentials*

/bin

.vscode

/.idea
/env
/exjvolume

/target/*
/target/classes
/target/surefire-reports

evosuite-files/
evosuite-report/