/src/target/*
.settings
.classpath
.project
target/
/testdb.db
mem
**/secure-credentials*

bin/

.vscode

env/cadastro/app.log
env/splunk/splunk.log
/target/

.idea/
env/

evosuite-files/
evosuite-report/