<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE xml>
<configuration>

    <springProperty scope="context" name="LOG_DIR" source="logging.root.dir" />
    <springProperty scope="context" name="springAppName" source="info.app.name" />

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <!-- encoders are assigned the type
             ch.qos.logback.classic.encoder.PatternLayoutEncoder by default -->
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="splunk" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_DIR:-env/}splunk/splunk.txt</file>
        <append>true</append>

        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>INFO</level>
        </filter>

        <rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
            <fileNamePattern>${LOG_DIR:-env/}splunk/splunk.%i.txt</fileNamePattern>
            <minIndex>1</minIndex>
            <maxIndex>3</maxIndex>
        </rollingPolicy>

        <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
            <maxFileSize>10MB</maxFileSize>
        </triggeringPolicy>

        <layout>
            <pattern>{ "service": "${springAppName:-}", "correlationId": "%X{X-B3-TraceId:-}", "span": "%X{X-B3-SpanId:-}", "parent": "%X{X-B3-ParentSpanId:-}", "pid": "${PID:-}", "thread": "%thread", "data": %message, "stacktrace": "%replace(%replace(%.1ex{0}%ex{50}){'[\r\n]+', '--newline--'}){'[\t]+', ''}%nopex","date_time":"%d{yyyy-MM-dd HH:mm:ss:SSS}", "log_level": "%p" }%n</pattern>
        </layout>

    </appender>

    <appender name="app" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_DIR:-env/}exjtecnologia/app.log</file>
        <append>true</append>

        <rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
            <fileNamePattern>${LOG_DIR:-env/}exjtecnologia/app.%i.log</fileNamePattern>
            <minIndex>1</minIndex>
            <maxIndex>3</maxIndex>
        </rollingPolicy>

        <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
            <maxFileSize>10MB</maxFileSize>
        </triggeringPolicy>

        <layout>
            <pattern>%d{yyyy-MM-dd HH:mm:ss:SSS} | %-5.5p | {%t} [%C] %F:%L | %m%n</pattern>
        </layout>
    </appender>

    <appender name="ASYNC-VERSION-APPENDER" class="ch.qos.logback.classic.AsyncAppender">
        <queueSize>999</queueSize>
        <!-- Never block when the queue becomes full -->
        <neverBlock>true</neverBlock>
        <!-- The default maximum queue flush time allowed during appender stop.
             If the worker takes longer than this time it will exit, discarding ay remaining
             items in the queue. 10000 millis -->
        <maxFlushTime>10000</maxFlushTime>
        <appender-ref ref="app" />
        <appender-ref ref="STDOUT" />
    </appender>

    <logger name="splunk">
        <!-- <appender-ref ref="splunk" /> -->
    </logger>

    <root level="INFO">
        <appender-ref ref="ASYNC-VERSION-APPENDER" />
        <appender-ref ref="splunk" />
        <!-- <appender-ref ref="STDOUT" /> -->
    </root>

</configuration>